[Unit]
Description=wstun
After=network.target

[Service]
Type=simple
User=node
Group=node
StandardInput=null
StandardOutput=journal
StandardError=journal
Environment="NODE_PATH=/usr/local/lib/node_modules"
ExecStart=/usr/local/bin/wstun -r -s 8080
#ExecStart=/usr/local/bin/wstun -r -s 8080 --key="<KEY>" --cert="<CERT>"
Restart=always

[Install]
WantedBy=multi-user.target
